

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="/" class="logo">
                <span class="symbol"><img src="{{ url_for('static', filename='images/logo.svg') }}"
                                          alt="Logo"></span><span class="title">Welcome</span>
            </a>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a href="/">Home</a></li>
            {#
            <li><a href="generic">Ipsum veroeros</a></li>
            #}
        </ul>
    </nav>

<!-- end header -->